
h1{
    text-align: center;
    color: yellowgreen;
}
.navbar{
    height: 100px;
    width: 1000px;
    margin: auto;

}
#image{
    width: 50%;
    margin: auto;
}

#my-canvas{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border: solid;
}

.icon{

    height: 50px;
    width: 50px;

}
#line{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Pipe.svg/768px-Pipe.svg.png);
    background-size: cover;
}

#rectangle{

    background-image: url(http://www.kidsmathgamesonline.com/images/pictures/shapes120/square120.jpg);
    background-size: cover;
}

#circle{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Circle_-_black_simple.svg/500px-Circle_-_black_simple.svg.png);
    background-size: cover;
}

#pencil{
    background-image: url(https://image.freepik.com/free-vector/writting-pencil-design_1095-187.jpg);
    background-size: cover;
}
#text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#color{
    background-color: black;
    width: 30px;
    height: 30px;
}
#text-to-draw{
    width: 100px;
}
#move{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}
.color{
    width: 100px;
    height: 30px;
}
.selected{
    border: solid yellow;
}
