
h1{
    text-align: center;
    color: yellowgreen;
}
.navbar{
    height: 100px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#my-canvas{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border: solid;
}

.icon.selected{
    background-color: yellow;
}
.icon{
    height: 50px;
    width: 50px;
    background-color: aqua;
    
}

#rectangle{
    
    background-image: url(http://www.kidsmathgamesonline.com/images/pictures/shapes120/square120.jpg);
}